<html lang="en">
	<head>
		<title>Afaf Alalwan</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static\assets\css\thankyou.css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='foxy.ico') }}">
       
	</head>
<body>
  <div class="container">
    <a href="index.html">
        <img class="image" src="static\images\sadFoxy.png" alt="Image">
    </a>
    <div class="text">
      Something went wrong :c
    </div>
  </div>
</body>
</html>